<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>OpenAI API Example</title>
</head>
<body>
    <div class="container">
        <h1>OpenAI API Example</h1>
        <label for="userInput">Enter your text:</label>
        <input type="text" id="userInput" placeholder="Type something...">
        <button onclick="getResponse()">Get Response</button>
        <div id="userInputContainer"></div>
        <div id="responseContainer" class="recomendation-container"></div>
        <input id="file" type="file">
        <button id="process-file">Process</button>

        <!-- <div class="recomendation-container">
            <div class="recomendation-box">
                <p> apa klub terakhir yang di bela raul ?</p>
            </div>
            <div class="recomendation-box">
                <p> berapa banyak gol yang di cetak raul ?</p>
            </div>
        </div> -->
    </div>
    
    <script>
        function getResponse() {
            const file = document.getElementById('file').files[0];
            const userInput = document.getElementById('userInput').value;

            // Make an API request to your Flask server
            fetch(`${!file ? '/api/get' : '/api/process-file' }?userinput=${encodeURIComponent(userInput)}`, {
                method: `${!file ? 'GET' : 'POST'}`
            })
                .then(response => !file ? response.text() : response.json())
                .then(data => {
                    if(data) {
                        const responseContainer = document.getElementById('responseContainer');
                        responseContainer.innerHTML = '';

                        const lines = !file ? data.split('\n') : data;
                        // set first array as answer
                        // Display user input
                        const userInputContainer = document.getElementById('userInputContainer');
                        // Clear existing content in userInputContainer
                        userInputContainer.innerHTML = '';
                        const newUserInputDiv = document.createElement('div');
                        newUserInputDiv.className = 'box';
                        newUserInputDiv.innerText = !file ? lines[0] : lines.openai_response;
                        userInputContainer.appendChild(newUserInputDiv);
    
                        // else will be recommendation
                        if(!file){
                            const results = lines.filter(line => line.startsWith('User Input'));
                            results.forEach(result => {
                                const newResponseDiv = document.createElement('div');
                                newResponseDiv.className = 'recomendation-box';
                                newResponseDiv.innerText = result.replace('User Input:', '');
                                responseContainer.appendChild(newResponseDiv);
                            });
                        }

                        // add event click
                        const recomendationAnswer = document.getElementsByClassName('recomendation-box')
                        for (let index = 0; index < recomendationAnswer.length; index++) {
                            const element = recomendationAnswer[index];
                            element.addEventListener('click', function($event) {
                                document.getElementById('userInput').value = $event.target.innerText;
                            })   
                        }
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        document.getElementById('process-file').addEventListener('click', function() {
            const file = document.getElementById('file').files[0];
            const formData = new FormData();

            formData.append('file', file);
            
            fetch('/api/process-file', {
                method: 'POST',
                body: formData
            })
        })
    </script>
</body>
</html>
