openapi: 3.0.3
info:
  title: DOKUMEN API E-KATALOG MOBILE - OpenAPI 3.0
  description: >-
    Jelaskan disini apa saja yang perlu dijelaskan
    termasuk informasi yang diperlukan untuk dinilai
    term of service isi dari link repo dari swagger ini
  termsOfService: https://raulmahya123.github.io/sweggergis/
  contact:
    email: raulmahya11@gmail.com
  license:
    name: E-KATALOG MOBILE
    url: https://pkg.go.dev/github.com/Fancypedia/fancybackenddd
  version: 1.0.11
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/Fancypedia/fancybackenddd
servers:
  - url: https://asia-southeast2-testlogin-366704.cloudfunctions.net
paths:
  /createaccount:
    post:
      tags:
        - USER
      summary: create account
      description: create account
      operationId: create account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createaccount'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createaccount'
        '405':
          description: Invalid input
  /getallusers:
    get:
      tags:
        - USER
      summary: get account
      description: get account
      operationId: get account
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createaccount'
        '405':
          description: Invalid input
      security:
        - token: []
  /loginn:
    post:
      tags:
        - USER
      summary: Login User
      description: Login User
      operationId: Login User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input or request body
  /gettoken:
    post:
      tags:
        - USER
      summary: Get Token Login
      description: Get Token Login
      operationId: Get Token Login
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetToken'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /deleteaccount:
    delete:
      tags:
        - USER
      summary: delete account
      description: delete account
      operationId: delete account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createaccount' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/createaccount'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /updateuser:
    patch:
      tags:
        - USER
      summary: update account
      description: update account
      operationId: update account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createaccount' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/createaccount'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /createfilm:
    post:
      tags:
        - FILM
      summary: create film
      description: create film
      operationId: create film
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Createfilm' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Createfilm'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /updatedfilm:
    patch:
      tags:
        - FILM
      summary: update film
      description: update film
      operationId: update film
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Createfilm' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Createfilm'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /deletefilm:
    delete:
      tags:
        - FILM
      summary: delete film
      description: delete film
      operationId: delete film
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Createfilm' # Gunakan skema yang sesuai di sini
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Createfilm'
        '400':
          description: Invalid input or request body
      security:
        - token: []
  /getallfilm:
    get:
      tags:
        - FILM
      summary: GET FILM
      description: GET FILM
      operationId: GET FILM
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createaccount'
        '405':
          description: Invalid input
      security:
        - token: []          
components:
  schemas: 
    CreateRating:
      type: object
      required:
        - ID
        - ID_Film
        - Username
        - Rating
        - Kualitas
        - Note
        - Tanggal
      properties:
        ID:
          type: string
          description: ID
        ID_Film:
          type: string
          description: ID_Film
        Username:
          type: string
          description: Username
        Rating:
          type: string
          description: Rating
        Kualitas:
          type: string
          description: Kualitas
        Note:
          type: string
          description: Note
        Tanggal:
          type: string
          description: Tanggal
    CreateKomentar:
      type: object
      required:
        - ID
        - ID_Film
        - Name
        - Tanggal
        - Komentar
      properties:
        ID:
          type: string
          description: ID
        ID_Film:
          type: string
          description: ID_Film
        Name:
          type: string
          description: Name
        Tanggal:
          type: string
          description: Tanggal
        Komentar:
          type: string
          description: Komentar
    Createfilm:
      type: object
      required:
        - ID
        - Judul
        - Image
        - Tanggal
        - Genre
        - Sinopsis
        - Penulis
        - Sutradara
        - Aktor
      properties:
        ID:
          type: string
          description: ID
        Judul:
          type: string
          description: Judul
        Image:
          type: string
          description: Image
        Tanggal:
          type: string
          description: Tanggal
        Genre:
          type: string
          description: Genre
        Sinopsis:
          type: string
          description: Sinopsis
        Penulis:
          type: string
          description: Penulis
        Sutradara:
          type: string
          description: Sutradara
        Aktor:
          type: string
          description: Aktor
    GetToken:
      type: object
      required:
        - status
        - data
        - message
      properties:
        status:
          type: boolean
          description: status
        data:
          type: object
          description: data
        message:
          type: string
          description: message
    createaccount:
      type: object
      required:
        - email
        - password
        - name
        - role
      properties:
        email:
          type: string
          format: email
          description: email
        password:
          type: string
          format: password
          description: password
        name:
          type: string
          description: name
        role:
          type: string
          description: role
    AuthResponse:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          format: username
          description: username
        password:
          type: string
          format: password
          description: password
    Authlogin:
      type: object
      required:
        - email
        - password
        - name
        - role
      properties:
        email:
          type: string
          format: email
          description: email
        password:
          type: string
          format: password
          description: password
        name:
          type: string
          description: name
        role:
          type: string
          description: admin | user
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
    Auth:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          format: username
          description: username
        password:
          type: string
          format: password
          description: password
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
