
<nav class="nav__container">
    <div>
        <a href="#" class="nav__link nav__logo">
            <i class='bx bxs-disc nav__icon' ></i>
            <span class="nav__logo-name">MystGIS</span>
        </a>

        <div class="nav__list">
            <div class="nav__items">
                <h3 class="nav__subtitle">Profile</h3>

                <a href="#home" class="nav__link active">
                    <i class='bx bx-home nav__icon' ></i>
                    <span class="nav__name">Home</span>
                </a>
                
                <div class="nav__dropdown">
                    <a href="#" class="nav__link">
                        <i class='bx bx-user nav__icon' ></i>
                        <span class="nav__name">CRUD</span>
                        <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a href="#profile/passwords" class="nav__dropdown-item">Insert</a>
                            <a href="#profile/mail" class="nav__dropdown-item">Update</a>
                            <a href="#crud/get" class="nav__dropdown-item">Get</a>
                            <a href="#profile/accounts" class="nav__dropdown-item">Delete</a>
                        </div>
                    </div>
                </div>

                <!-- <a href="#messages" class="nav__link">
                    <i class='bx bx-message-rounded nav__icon' ></i>
                    <span class="nav__name">Messages</span>
                </a> -->
            </div>

            <div class="nav__items">
                <h3 class="nav__subtitle">Chapter</h3>

                <div class="nav__dropdown">
                    <a href="#" class="nav__link">
                        <i class='bx bx-bell nav__icon' ></i>
                        <span class="nav__name">Map</span>
                        <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a href="#map/ch1" class="nav__dropdown-item">Chapter1</a>
                            <a href="#map/ch2" class="nav__dropdown-item">Chapter2</a>
                            <a href="#map/ch3" class="nav__dropdown-item">Chapter3</a>
                            <a href="#map/ch4" class="nav__dropdown-item">Chapter4</a>
                            <a href="https://raulmahya123.github.io/sweggergis/" target="_blank" class="nav__dropdown-item">Chapter5</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="nav__items">
                <h3 class="nav__subtitle">GeoSpatials</h3>

                <div class="nav__dropdown">
                    <a href="#" class="nav__link">
                        <i class='bx bx-bell nav__icon' ></i>
                        <span class="nav__name">Geo Query</span>
                        <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                    </a>

                    <div class="nav__dropdown-collapse">
                        <div class="nav__dropdown-content">
                            <a href="#notifications/geointersect" class="nav__dropdown-item">GeoIntersects</a>
                            <a href="#notifications/geowithin" class="nav__dropdown-item">GeoWithin</a>
                            <a href="#notifications/geonear" class="nav__dropdown-item">GeoNear</a>
                            <a href="#notifications/geonearsphere" class="nav__dropdown-item">GeoNearSphere</a>
                            <a href="#notifications/geomaxdistance" class="nav__dropdown-item">GeoMaxDistances</a>
                            <a href="#notifications/geomindistance" class="nav__dropdown-item">GeoMinDistances</a>
                            <a href="#notifications/geogeometry" class="nav__dropdown-item">GeoGeometry</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <a href="#logout" class="nav__link nav__logout">
        <i class='bx bx-log-out nav__icon' ></i>
        <span class="nav__name">Log Out</span>
    </a>
</nav>
